<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update" method="POST">
    学号 <input type="text" name="sno" value="{{data[0]}}"><br><br>
    姓名 <input type="text" name="name" value="{{data[1]}}"><br><br>
    性别 <input type="text" name="sex" value="{{data[2]}}"><br><br>
    生日 <input type="date" name="birthday" value="{{data[3]}}"><br><br>
    班级<input type="text" name="class1" value="{{data[4]}}"><br><br>
    <input type="submit"><input type="reset">
    </form>
</body>
</html>